body{
	font: 15px Arial, Helvetica, sans-serif;
	padding: 0;
	margin: 0;
	background-color: #ffffff;
}

/*Estilos globales*/

.contenedor{
	 width: 80%;
	 margin: auto;
	 overflow: hidden;
}

ul{
	margin: 0;
	padding: 0;
}

/*Para el boton de suscripción*/
.boton1{
	height: 38px;
	background-color: #DF0101;/*color rojo*/
	border: 0;
	padding-left: 20px;
	padding-right: 20px;
	color: #fff;/*color blanco*/
}

/*Encabezados*/

header{
	background-color: #f2f2f2;/*color gris claro*/
	color: #DF0101;/*color letras: rojo oscuro*/
	padding-top: 30px;
	min-height: 70px;
	border-bottom: 5px solid #f2f2f2;
}

header a{
	color: #000;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 16px;
}

header li{
	float: left;
	display: inline;
	padding: 0 20px 0 20px;
}

header #marca{
	float: left;
}

header #marca h1{
	margin: 0;
}

header nav{
	float: right;
	margin-top: 10px;
}

header .resaltado, header .actual a{
	color: #DF0101;/*color rojo*/
	font-weight: bold;
}

header a:hover{
	color: #F78181;/*color rojo claro*/
	font-weight: bold;
}

/*Imagen de cabecera*/

#cabecera{
	min-height: 400px;
	background: url('../img/cabecera.jpg') no-repeat 0 -400px;
	text-align: center;
	color: #fff;
}

#cabecera h1{
	margin-top: 100px;
	font-size: 55px;
	margin-bottom: 10px;
}

#cabecera p{
	font-size: 20px;
}

/*Estido para Formulario*/

#boletin{
	padding: 15px;
	color: #000;
	background: #f2f2f2;
}

#boletin h1{
	float: left;
}

#boletin form{
	float: right;
	margin-top: 15px;
}

#boletin input[type="email"]{
	padding: 4px;
	height: 25px;
	width: 250px;
}

/*Estilos para el contenido principal*/

#contenidos{
	margin-top: 20px;
}

#contenidos .contenido{
	float: left;
	text-align: center;
	width: 30%;
	padding: 10px;
}

#contenidos .contenido img{
	width: 60px;
}

/* Lateral */

aside #lateral{
	float: right;
	width: 20%;
	margin-top: 5px;
}

.oscuro{
	padding: 10px;
	background-color: #35424a;
	color: #fff;
	margin-top: 5px;
	margin-bottom: 5px;
}

/* Estilo para la columna principal*/

article #main-col{
	float: left;
	width: 50%;
}

/*Estilos Footer*/

footer{
	padding: 20px;
	margin-top: 20px;
	color: #aaa;
	background-color: #f2f2f2;/*color gris claro*/
	text-align: center;
}